
[defaults]
inventory       = ./inventory/sample/
remote_user     = confmgmt
become_ask_pass = True
become_user = root
become = True

host_key_checking = False
fact_caching = jsonfile
fact_caching_timeout = 7200
fact_caching_connection = /tmp/ansible_facts
gathering = smart

retry_files_enabled = False
retry_files_save_path = "/tmp/"

ansible_managed = "Ansible managed: {file} modified by {uid} on {host}"

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

